.calendario{
	padding: 0;
	margin: 0;
	margin-top: 20px; 
}

.number{
	font-size: 1.4em;
	margin-right: 12px;
	color: #2980b9;
}

.header-calendar{
	padding: 10px;
	background-color: #4688F9;
	color: #FFF;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

/*.header-calendar p{
	text-align: center;
}*/

.calendario table td p {
	margin-bottom: 10px;
}

.header-calendar h2{
	padding: 0;
	margin: 0;
	text-align: center;

}

.header-calendar h2 i{
	padding: 0;
	margin: 0;
}

.header-calendar .left{
	float: left;
	font-size: 1.2em;
	color: #2c3e50 !important;
	/*padding: 6px;*/
	/*background-color: #2980b9;*/
	/*border-radius: 50%;*/
}

.header-calendar .right{
	float: right;
	font-size: 1.2em;
	color: #2c3e50 !important;
	/*padding: 6px;*/
	/*background-color: #2980b9;*/
	/*border-radius: 50%;*/
}
.header-calendar h2 a span i:hover{
	color: #bdc3c7 !important;
}

/* no poner !important a algo tan variable como los links*/
a{
	color: gray;
}

table th, td{
	text-align: center;

}

.info-doc h4{
	font-size: 1.6em;
}

.info-doc ul li{
	margin-left: 20px;
}