<div ng-include="'views/header.html'"></div>


<div class="container" style="margin-top:20px;">
	<div class="panel panel-default">
	  <div class="panel-body">
	    Información de la cuenta <span class="filtrar"></span>
		<h2 class="list">Actualizar información</h2>
		<hr>

		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Información perfil</h3>
			  </div>
			  <div class="panel-body">
			    <div class="col-md-4 edit_img">
			    	<img src="images/perfil.jpg" alt="Elkin Urango">
					<button class="btn btn-success">Cambiar imagen</button>
			    </div>

				<form>

				    <div class="col-md-4">

			    		<div class="form-group">
							<label class="label-control" for="nombre">Nombre</label>
							<input class="form-control" type="text" name="nombre" id="nombre" value="Elkin Urango">
						</div>

						<div class="form-group">
							<label class="label-control" for="nombre">Especialidad</label>
							<input class="form-control" type="text" name="especialidad" id="especialidad" value="Medicina General">
						</div>

						<div class="form-group">
							<label class="label-control" for="nombre">Email</label>
							<input class="form-control" type="text" name="email" id="email" value="kin3xc@hotmail.com">
						</div>

						<div class="form-group">
							<label class="label-control" for="nombre">Teléfono</label>
							<input class="form-control" type="text" name="telefono" id="telefono" value="312 333 8831">
						</div>

				    </div>

				    <div class="col-md-4">

			    		<div class="form-group">
							<label class="label-control" for="nombre">Teléfono consultorio</label>
							<input class="form-control" type="text" name="nombre" id="nombre">
						</div>

						<div class="form-group">
							<label class="label-control" for="nombre">Dirección consultorio</label>
							<input class="form-control" type="text" name="especialidad" id="especialidad">
						</div>

						<div class="form-group">
							<label class="label-control" for="nombre">Biografía</label>
							<!-- <input class="form-control" type="text" name="telefono" id="telefono" > -->
							<textarea class="form-control" name="" id="" rows="5"></textarea>
						</div>

				    </div>

			    </form>
			  </div>
			</div>
		</div>


		<!-- informaciń de pago -->
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Planes</h3>
			  </div>
			  <div class="panel-body">

			    <div class="col-md-4">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Gratis <span>
							Mes gratis </span>
							</h3>
							<h4><i>$</i>0<i>.00</i>
							<span>
							Primer mes </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li>
								At vero eos
							</li>
							<li>
								No Support
							</li>
							<li>
								Fusce condimentum
							</li>
							<li>
								Ut non libero
							</li>
							<li>
								Consecte adiping elit
							</li>
						</ul>
						<div class="pricing-footer">
							<p>
								 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
							</p>
							<a href="#/doctor/pago/gratis" class="btn yellow-crusta">
							Registrar
							</a>
						</div>
					</div>
				</div>


				<div class="col-md-4">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Básico <span>
							Plan básico </span>
							</h3>
							<h4><i>$</i>20<i>.USD</i>
							<span>
							Mensuales </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li>
								At vero eos
							</li>
							<li>
								No Support
							</li>
							<li>
								Fusce condimentum
							</li>
							<li>
								Ut non libero
							</li>
							<li>
								Consecte adiping elit
							</li>
						</ul>
						<div class="pricing-footer">
							<p>
								 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
							</p>
							<a href="#/doctor/pago/basico" class="btn yellow-crusta">
							Registrar
							</a>
						</div>
					</div>
				</div>



				<div class="col-md-4">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Avanzado <span>
							Plan avanzado </span>
							</h3>
							<h4><i>$</i>26<i>.USD</i>
							<span>
							Mensuales </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li>
								At vero eos
							</li>
							<li>
								No Support
							</li>
							<li>
								Fusce condimentum
							</li>
							<li>
								Ut non libero
							</li>
							<li>
								Consecte adiping elit
							</li>
						</ul>
						<div class="pricing-footer">
							<p>
								 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
							</p>
							<a href="#/doctor/pago/avanzado" class="btn yellow-crusta">
							Registrar
							</a>
						</div>
					</div>
				</div>

			  </div>
			</div>
		</div>

	  </div>
	</div>
</div>


<div ng-include="'views/footer.html'"></div>
