<div class="container calendario">
	<div class="panel panel-default">
		<div class="header-calendar">
			<p>Citas disponibles
				<a href=""><span class="left"><i class="ion-ios-arrow-left"></i></span></a>
				<a href=""><span class="right"><i class="ion-ios-arrow-right"></i></span></a>
			</p>

		</div>
	  <div class="panel-body">

	  	<table class="table" border="1">
	  		<thead>
	  			<tr>
	  				<th>Lunes <br> <span>Hoy</span></th>
	  				<th>Martes <br> <span>4 dic</span></th>
	  				<th>Miercoles <br> <span>5 dic</span></th>
	  				<th style="background-color:#ecf0f1;">Jueves <br> <span>6 dic</span></th>
	  				<th>Viernes <br> <span>7 dic</span></th>
	  				<th>Sábado <br> <span>8 dic</span></th>
	  				<th style="background-color:#ecf0f1;">Domingo <br> <span>9 dic</span></th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr>
	  				<td>
	  					<p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p>
		  				<p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p>
		  				<p class="mas"><a href="#">ver mas</a></p>
	  				</td>

	  				<td>
	  					<p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p>
		  				<p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p>
		  				<p class="mas"><a href="#">ver mas</a></p>
	  				</td>

	  				<td>
	  					<p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p>
		  				<p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p>
		  				<p class="mas"><a href="#">ver mas</a></p>
	  				</td>

	  				<td style="background-color:#ecf0f1;">
	  					<!-- <p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p> -->
		  				<!-- <p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p> -->
		  				<!-- <p class="mas"><a href="#">ver mas</a></p> -->
	  				</td>

	  				<td>
	  					<p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p>
		  				<p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p>
		  				<p class="mas"><a href="#">ver mas</a></p>
	  				</td>

	  				<td>
	  					<p><a href="#">8:00 am</a></p>
		  				<p><a href="#">8:20 am</a></p>
		  				<p><a href="#">8:40 am</a></p>
		  				<p><a href="#">9:00 am</a></p>
		  				<p class="mas"><a href="#">ver mas</a></p>
	  				</td>

	  				<td style="background-color:#ecf0f1;"></td>
	  			</tr>
	  		</tbody>
	  	</table>

	  </div>
	</div>
</div>