<div ng-include="'views/header.html'"></div>

<div class="container">
  <div class="panel panel-default panel-cita">
    <div class="panel-heading">
      <h3 class="panel-title">Crear cita médica</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-5">
          <form ng-submit="send_cita()">
            <div class="form-group">
              <h2>Información de la cita</h2>
              <p for="">Fecha: <span style="color:gray;"> {{ fecha }} </span></p>
              <p for="">Hora inicio: <span style="color:gray;"> {{ hora1 }} </span></p>
              <p for="">Hora fin: <span style="color:gray;"> {{ hora2 }} </span></p>
              <p for="">Duración: <span style="color:gray;"> {{ duracion }} Minutos </span></p>
            </div>

            <h2>Ingresa tus datos</h2>
            <div class="form-group">
              <label class="control-label" for="">Nombre y apellido</label>
              <input ng-model="nombre" class="form-control" type="text" name="nombre" required title="Queremos saber quien eres, por favor ingresa tu nombre y apellido">
            </div>

            <div class="form-group">
              <label class="control-label" for="">Teléfono</label>
              <input ng-model="telefono" class="form-control" type="text" name="telefono">
            </div>

            <div class="form-group">
              <label class="control-label" for="">Email</label>
              <input ng-model="email" class="form-control" type="text" name="email" required title="Necesitamos tu correo electronico, por favor ingresalo">
            </div>

            <div class="form-group">
              <button class="btn btn-success" type="submit">Confirmar cita</button>
            </div>
          </form>
        </div>

        <div clas="col-md-7 ">

          <div class="btn_acceso">
            <a href="#/login">Igresar</a>
            <a href="#/registro">Registrarme</a>
          </div>
          
        </div>
    </div>
  </div>
</div>

  
<div ng-include="'views/footer.html'"></div>