<div ng-include="'views/header.html'"></div>

<div class="container doctor-list">
	<div class="panel panel-default">
	  <div class="panel-body">
	    Resulados de búsqueda <span class="filtrar">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
		          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtrar por <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Más cercáno</a></li>
		            <li><a href="#">Menor precio</a></li>
		          </ul>
		        </li>
			</ul>
		</span>
		<h1 class="list">Listado de doctores</h1>
		<hr>

		<div class="row perfil-doctor" ng-repeat="doctor in doctores">
			<div class="col-md-2"><a href="#/perfil"><img src="images/perfil.jpg" alt=""></a></div>
			<div class="col-md-10">
				<a href="#/perfil" style="color:#34495e;"><h2>{{doctor.nombre}}</h2></a>
				<p>{{doctor.especialidad}}</p>
				<!-- <p>{{doctor.biografia}}</p> -->
				<p>{{doctor.ciudad}}</p>
				<p style="margin-bottom: 16px;">{{doctor.telefono}}</p>
				<!-- <button class=" btn btn-success btn-doctor">Ver calendario</button> -->
				<a class="btn-calendario" href="#/perfil">Ver calendario</a>
			</div>
		</div>

	  </div>
	</div>
</div>

<div ng-include="'views/footer.html'"></div>