<div ng-controller="HomeCtrl">
	<nav class="navbar navbar-default nav-dash" style="background-color: white;
    border-color: white;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--  <a class="navbar-brand" href="#/home">
        
        tudoc
      </a> -->
      <div style="margin-left:20px;text-align:center;">
       <h1 style="text-align:center;"><span style="color: #4688F9;
    font-weight: 200;font-size:69%;
        margin-right: 9px;">tu</span><span style="color:white;
    font-weight: 800;    font-size: 85%;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
    ">Doctor</span><span style="color: #4688F9;
    font-weight: 100;
    font-size: 55%;">.co</span></h1>
    </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <!--  <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!verMenu"><a href="#/login">Ingresar</a></li>
        <li ng-if="!verMenu"><a href="#/registro">Registrar</a></li>

        <li ng-if="verMenu"><a href="#/doctor/calendar">Calendario</a></li>
        

        <li ng-if="verMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{authData.password.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mi perfil</a></li>
            <li><a href="#">Próximas citas</a></li>
            <li><a href="#">Histórico de citas</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()" href="">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>