



<script src="lib/tudoctor.js"></script>

<!---- start-smoth-scrolling---->
        <script type="text/javascript" src="lib/move-top.js"></script>
        <script type="text/javascript" src="lib/easing.js"></script>
        <script type="text/javascript">
            // jQuery(document).ready(function($) {
            //     $(".scroll").click(function(event){     
            //         event.preventDefault();
            //         $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
            //     });
            // });
        </script>
    <!---- start-smoth-scrolling---->

<!----//requred-js-files---->
        <script type="text/javascript"  src="lib/jquery.smint.js"></script>
        <script type="text/javascript">
            // $(document).ready( function() {
            //     $('.subMenu').smint({
            //         'scrollSpeed' : 1000
            //     });
            // });
        </script>

    <!-- <div class="principal" ui-view></div> -->
    <!---->
<div id="home" class="banner">
<div class="navigation menu-bar" style="background-color:transparent;">
     <div class="container">
         <div class="fixed-header">
             <div class="top-menu">
                 <ul>
                     <li class="active"><a class="scroll" href="http://localhost:4000/#/#home">Inicio</a></li>
                     <li><a class="scroll" href="http://localhost:4000/#/#about">Idea</a></li>
                     <!-- <li><a class="scroll" href="#gallery">Equipo</a></li> -->
                     <li><a class="scroll" href="http://localhost:4000/#/#contact">Ayuda</a></li>
                 </ul>          
             </div>
             <div class="right-msg">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <!-- <a class="scroll" href="#"><i class="fa fa-facebook fa-lg sociales"></i></a>
                 <a class="scroll" href="#"><i class="fa fa-twitter fa-lg sociales"></i></a>
                 <a class="scroll" href="#"><i class="fa fa-instagram fa-lg sociales"></i></a>
                 <a class="scroll" href="#"><i class="fa fa-youtube fa-lg sociales"></i></a> -->
            <ul class="nav navbar-nav navbar-right">
                 <a ng-if="!verMenu"  href="#/login">Ingresar</a>
                 <a ng-if="!verMenu"  href="#/registro">Registrar</a>
                 <!-- <a ng-if="verMenu" href="">{{authData.password.email}}</a> -->
    

                <li ng-if="verMenu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="avatar" ng-src="{{ authData.password.profileImageURL }}" alt=""> {{authData.password.email}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Cuenta</a></li>
                    <li><a ng-click="ajustes()" href="">Ajustes</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="logout()" href="">Cerrar sesión</a></li>
                  </ul>
                </li>
            </ul>

             </div>
             </div>
             <div class="clearfix"></div>
         </div>
         <script>
            // $("span.menu").click(function(){
            //     $(".top-menu ul").slideToggle(500, function(){
            //     });
            // });
            </script>

                <!-- script for menu -->
                    <script type="text/javascript">
                    // jQuery(document).ready(function($) {
                    //     $(".scroll").click(function(event){     
                    //         event.preventDefault();
                    //         $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    //     });
                    // });
                    </script>

                <!-- script for menu -->
                <script>
             // $(document).ready(function() {
             //     var navoffeset=$(".navigation").offset().top;
             //     $(window).scroll(function(){
             //        var scrollpos=$(window).scrollTop(); 
             //        if(scrollpos >=navoffeset){
             //            $(".navigation").addClass("fixed");
             //        }else{
             //            $(".navigation").removeClass("fixed");
             //        }
             //     });
                 
             // });
             </script>
     </div>
</div>


<!--body-->

     <div class="container" ng-controller="HomeCtrl">
        <div clas="data">
         <div class="banner-info">
             <div class="logo">
                 <!-- <a href="index.html"><img id="portada" src="images/doctorweb.svg" alt=""/></a> -->
                <h1 style="margin-top: -112px;"><span style="color: white;
    font-weight: 200;font-size:69%">tu</span><span style="color:white;
    font-weight: 800;    font-size: 85%;">Doctor</span><span style="color: white;
    font-weight: 100;
    font-size: 55%;">.co</span></h1>
                 <h4 style="margin-top: -26px;font-weight:200;">para tu salud</h4>
                 <h2 style="color:#0077DB;margin-top: 35px;font-weight:500;">Saca una cita médica</h2>
                 <h3 style="color:#4B5B6E;margin-top: 5px;font-weight:300;font-size:22px;">sin espera, ni costo..</h3>

                 <h3>Ciudad: <select name="" id="">
                     <option value="bogota">Bogotá</option>
                     <option value="bucaramanga">Bucaramanga</option>
                 </select></h3>
             </div>
            <!--  <h1>Comunidad para emprendedores</h1>
             <p>Sosmos una comunidad de emprendores imnovadores y creadores de ideas increíbles capaces de cambiar el mundo, cuando haces realmente lo que te apasiona tienes posibilidades de cambiar tu entorno.</p> -->
             <!-- <a href="#" data-toggle="modal" class="hvr-shutter-out-vertical button" data-target="#doctor">Registro Doctor</a>
             <a data-toggle="modal" data-target="#paciente" class="hvr-shutter-out-vertical button" href="#">Registro Paciente</a> -->
                <form ng-submit="filtrar()">
                    <div id="lugar">
                        <!-- <i class="fa fa-stethoscope"></i> --><input type="text" placeholder="Especialidad">
                        <!-- <i class="fa fa-user-md"></i> --><input id="buscar" type="text" placeholder="Nombre doctor" data-provide="typeahead">
                        <!-- <i class="fa fa-h-square"></i> --><select name="" id=""  style="background:#FFF;">
                            <option selected="selected" style=" display: none;">Plan de salud</option>
                            <option value="">Colsanitas</option>
                            <option value="">Suramericana</option>
                        </select>
                        <!-- <i class="fa fa-map-marker"></i> --><input ng-model="origen" type="text" placeholder="Tu Dirección" required title="Es necesario saber tu dirección"><button prevent-default title="Obtener mi dirección" ng-click="getPosition()" style="background: #ecf0f1;"><i class="fa fa-map-marker"></i></button>
                    </div>
                    <!-- <div id="clinica">
                    </div>
                    <div id="especialista">
                    </div>
                    <div id="direccion">
                    </div> -->

                    <button style="background:#CC0033;" type="submit">Buscar</button>
                </form>
             </div>
        </div>
     </div>
</div>

<script>
    $(document).ready(function(){
        $('#buscar').typeahead({source: ['elkin urango', 'pepito perez'], autoSelect:true});
    })
</script>


<div id="paciente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="paciente" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pacienteModal">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true" >&times;</button>
                <h4 class="modal-title" id="myModalLabel">Registro de pacientes</h4>
            </div>
            <div class="modal-body">
                <h4>Suscribete para recibir mas información</h4>
                <br>
                <form id="frmPaciente">
                    <div class="control-group">
                        <label class="control-label">Nombre</label>
                        <input type="text" name="nombre" class="form-control">
                    </div>
    
                    <div class="control-group">
                        <label class="control-label">Ciudad</label>
                        <input type="text" name="ciudad" class="form-control input-small">
                    </div>

                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <input type="text" name="email" class="form-control input-small">
                    </div>
                
            </div>
            <div class="modal-footer foterModal">
                <button type="button" class="btn btn-success" id="registrarPaciente">Registrar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <br><br>
                <div class="respuestaPaciente"></div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- FIN Dialogos -->



<!---->
<div class="top-grid">
     <div class="container fondo-clarito">
         <div class="top-grid-section">
             <div class="col-md-4 top-grids rayas-laterales">
                 <h1 style="background: #4B5B6E;
    width: 50px;
    margin: 0 auto;
    border-radius: 40px;
    color: white;margin-bottom:10px;    margin-bottom: 10px;
    height: 60px;
    padding-top: 8px;">1</h1>
                 <i class="fa fa-user-md fa-4x"></i>
                 <h3 style="color:#0077DB">Encuentra Doctores</h3>
                 <p>Busca doctores por locación, nombre, especialidad, o plan de salud</p>
                 <!-- <p>Contamos con un gran equípo de médicos y especialistas dispuestos a atenderte en lo que necesites, toda tu salud a un solo clic.</p> -->
             </div>
              <div class="col-md-4 top-grids rayas-laterales">
                 <h1 style="background: #4B5B6E;width: 50px;margin: 0 auto;border-radius: 40px;color: white;margin-bottom:10px;    margin-bottom: 10px;
    height: 60px;
    padding-top: 8px;">2</h1>
                 <i class="fa fa-calendar fa-4x"></i>
                 <h3 style="color:#0077DB" >Programa una cita</h3>
                 <p>Mira el calendario del doctor con el horario de disponibilidad y reserva una cita o llamalo</p>
                 <!-- <p>Programa y gestiona tus citas médicas, toma el control de tu salud y elige un médico para que te atienda en el momento que lo desees.</p> -->
             </div>
             <div class="col-md-4 top-grids rayas-laterales raya-lateral-parche">
                 <h1 style="background: #4B5B6E;width: 50px;margin: 0 auto;border-radius: 40px;color: white;margin-bottom:10px;margin-bottom: 10px;
    height: 60px;
    padding-top: 5px;">3</h1>
                 <i class="fa fa-stethoscope fa-4x"></i>
                 <h3 style="color:#0077DB" >Ve a la cita</h3>
                 <p>Todo listo, Asiste a tu cita <br> el día y a la hora definida. <br> Así de fácil</p>
                 <!-- <p>Podras realizar consultas médicas simples, con el objetivo de mantener tu salud al día y evitar cualquier sorpresa, solo queremos qe seas felíz.</p> -->
             </div>
             <div class="clearfix"></div>
         </div>
     </div>
</div>
<!---->
<div id="about" class="about">
     <div class="container fondo-clarito">
        <div class="row">
             <div class="col-xs-6 about-pic">
                 <img src="http://expatincroatia.com/wp-content/uploads/2013/09/how-to-find-a-doctor-in-croatia.jpg" alt=""/>
             </div>
             <div class="col-xs-6 about-info">
                 <h3 style="color:#0077DB"> Qué hacemos?</h3>
                 <h3 style="color:#3498DB;    font-size: 145%;font-weight:300">Conveniencia para <br> servicios de salud</h3>
                 <p>En tuDoctor te permitimos <br>gestionar tus citas médicas<br> directamente desde internet
                    <br> <br>
                 Solo debes seleccionar las fechas <br>y horarios que son adecuados para ti</p>
                
            </div>
        
         </div>

         <div class="row" style="background:lightgrey;padding:12px;border-radius:8px;">
                <div class="col-xs-6" style="height:80px;padding:0;background:#0077DB;padding:25px;    text-align: center;
                border-top-left-radius:10px;
                border-bottom-left-radius:10px;
                "> 
                 <a style="background:#0077DB;margin:0 auto;" href="#">Soy Paciente <i style="font-size:150%" class="fa fa-user"></i></a>
                </div> 


                <div class="col-xs-6" style="height:80px;background:#4B5B6E;text-align: center; padding:25px;
                border-top-right-radius:10px;
                border-bottom-right-radius:10px;
                ">
                 <a style="background:#4B5B6E" href="#"><i style="font-size:150%" class="fa fa-user-md"></i> Soy Doctor</a>
                </div>
                

            </div>
     </div>
</div>

<!----start-contact---->
<div id="contact" class="contact section s4">
     <div class="container">
         <div style="text-align:center;">
             <p class="contact-head" style="font-style: italic;">tuDoctor le da conveniencia a tu salud </p>
             <h4>Ayuda</h4>
             <p style="color:#858585; margin-bottom: 16px;
    margin-top: 20px;">Necesitas ayuda?</p>
             <a href="#" style="color:#3498DB;text-align:center;margin-top:30px">ir a preguntas frecuentes</a>
         </div>
         <!--  <div class="row contact-form">
                <form>
                    <div class="col-md-6 text-box">
                        <input type="text" placeholder="Nombre" />
                        <input type="text" placeholder="Email" />
                        <input type="text" placeholder="Tema" />
                    </div>
                     <div class="col-md-6 textarea">
                            <textarea>Mensaje</textarea>
                      </div>
                      <div class="clearfix"> </div><br />
                      <input   style="background:#CC0033;" class="btn-red-lg" type="submit" value="Enviar Mensaje" />
              </form>
          </div> -->
          <div class="social-media">            
             <a href="#"><i class="facebook"></i></a>
             <!-- <a href="#"><i class="pinterest"></i></a> -->
             <a href="#"><i class="twitter"></i></a>
             <!-- <a href="#"><i class="google"></i></a> -->
          </div>
          <div class="copy-right">
                <p>Copyright &#169; 2015 <br> All Rights Reserved</p>
                <p>by<a href="http://oglit.com/">Oglit</a></p>
          </div>
     </div>
</div>


<script>
    // function search_doctor(){
    //   var input=document.getElementById('buscar_doctor').value.toLowerCase();
    //   var output=document.getElementById('op_doctor').options;
    //   for(var i=0;i<output.length;i++) {
    //     if(output[i].value.indexOf(input)==0){
    //       output[i].selected=true;
    //       }
    //     if(document.forms[0].buscar_doctor.value==''){
    //       output[0].selected=true;
    //       }
    //   }
    // }

</script>
