<div ng-include="'views/header.html'"></div>

<div onload="mostrarGoogleMaps()" class="container">
<!-- <div class="content"> -->
	<!-- <div class="matter"> -->
  		<div class="row perfil-doctor">
			<div class="col-md-2"><img src="images/perfil.jpg" alt=""></div>
			<div class="col-md-6">
				<h2>Elkin Urango</h2>
				<p>El doctor Elkin Urango le da la bienvenida en su oficina. El doctor recibe a los niños y adultos de todos los tipos de atención médica general (consultas, seguimiento anual, la vacunación, certificado médico, control de salud).</p>
			<!-- 	<p>Horario de apertura oficina: Consultas con cita previa el lunes y el viernes por la tarde, los martes y jueves por la mañana y por la tarde, sábado por la mañana. La oficina está cerrada los miércoles, así como los lunes y viernes por la mañana.</p> -->
				<br>
				<p>Bogotá - Colombia</p>
				<p>Tel: 795725</p>
				<!-- <button class=" btn btn-success btn-doctor">Ver calenario</button> -->
			</div>
			<div class="col-md-4">
				<div id="map" style="width: 100%; height: 146px; padding:0; margin:0;"></div>
			</div>
		</div>

		<div class="calendario">
			<div class="panel panel-default" style="border-top-left-radius: 10px;
    border-top-right-radius: 10px;
">
				<div class="header-calendar">
					
					<h2>Citas disponibles

					<a ng-click="prev()" href=""><span class="left"><i class="ion-ios-arrow-left"></i></span></a>
					<a ng-click="next()" href=""><span class="right"><i class="ion-ios-arrow-right"></i></span></a>
					</h2>

				</div>
			  <div class="panel-body">
				<div class="table-responsive">
			  	<table class="table table-bordered">
			  		<thead>
			  			<tr>
			  				<th ng-repeat="calendario in calendario_semanal" class="lunes"><span class="number">{{calendario.id}}</span> {{ calendario.dia[calendario.id-1] }} <br> <span>{{ calendario.fecha }}</span></th>
			  			<!-- 	<th class="martes"><span class="number">2</span>Martes <br> <span>{{fecha}}</span></th>
			  				<th class="miercoles"><span class="number">3</span>Miercoles <br> <span>Hoy</span></th>
			  				<th class="jueves"><span class="number">4</span>Jueves <br> <span>{{fecha}}</span></th>
			  				<th class="viernes"><span class="number">5</span>Viernes <br> <span>{{fecha}}</span></th> -->
			  			</tr>
			  		</thead>
			  		<tbody>
			  			<tr>

			  				<td class="lunes">
			  					<p ng-repeat="l in lunes | limitTo: 3" ><a href="#/cita/{{l}}">{{l}}</a></p>
				  				<p class="mas" style="    background: lightblue;
    padding: 13px;
    margin: -8px;"><a href="#">ver mas</a></p>
			  				</td>

			  				<td class="martes">
			  					<p ng-repeat="m in martes | limitTo: 3"><a href="#/cita/{{m}}">{{m}}</a></p>
				  				<p class="mas" style="    background: lightblue;
    padding: 13px;
    margin: -8px;"><a href="#">ver mas</a></p>
			  				</td>

			  				<td class="miercoles">
			  					<p ng-repeat="mi in miercoles | limitTo: 3"><a href="#/cita/{{mi}}">{{mi}}</a></p>
				  				<p class="mas" style="    background: lightblue;
    padding: 13px;
    margin: -8px;"><a href="#">ver mas</a></p>
			  				</td>

			  				<td class="jueves">
			  					<p ng-repeat="j in jueves | limitTo: 3"><a href="#/cita/{{j}}/">{{j}}</a></p>
				  				<p class="mas" style="    background: lightblue;
    padding: 13px;
    margin: -8px;"><a href="#">ver mas</a></p>
			  				</td>

			  				<td class="viernes">
			  					<p ng-repeat="v in viernes | limitTo: 3"><a href="#/cita/{{v}}">{{v}}</a></p>
				  				<p style="    background: lightblue;
    padding: 13px;
    margin: -8px;" class="mas"><a href="#">ver mas</a></p>
			  				</td>

			  			</tr>
			  		</tbody>
			  	</table>
			  	</div>

			  	<div class="info-doc">
					<div class="type_pago">
						<h4>Tipos de pagos</h4>
						<ul>
							<li>Pago en efectivo</li>
							<li>Tarjeta de credito</li>
							<li>Tarjeta debito</li>
							<li>Cheques</li>
						</ul>
					</div>
				</div>

			  </div>
			</div>
		</div>


	<!-- </div> -->
<!-- </div> -->
	<div class="clearfix"></div>
</div>

<div ng-include="'views/footer.html'"></div>